.bg-gray-2 {
  background: #FAFAFA !important;
}

.btn-gradient {
  background: linear-gradient(253.2deg, #FF2E5A -8.9%, #FF4848 101.66%);
  color: #FFFFFF;

  &:hover {
    background: linear-gradient(253.2deg, #FF2E5A -8.9%, #FF4848 101.66%);
    color: #FFFFFF;
    border: 1px solid transparent !important;
  }
}

.btn-orange-7 {
  background: #D46B08 !important;
  color: #FFFFFF !important;

  &:hover {
    background: #D46B08 !important;
    color: #FFFFFF;
    border: 1px solid transparent !important;
  }
}

.btn-magenta-7 {
  background: #C41D7F !important;
  color: #FFFFFF !important;

  &:hover {
    background: #C41D7F !important;
    color: #FFFFFF !important;
    border: 1px solid transparent !important;
  }
}

.btn-volcano-7 {
  background: #D4380D !important;
  color: #FFFFFF !important;
  &:hover {
    background: #D4380D !important;
    color: #FFFFFF !important;
    border: 1px solid transparent !important;
  }
}

.text-magenta-5 {
  color: #F759AB !important;
}

.text-magenta-8 {
  color: #9E1068 !important;
}

.text-magenta-10 {
  color: #520339 !important;
}

.text-gray-9 {
  color: #262626 !important;
}

.text-orange-5 {
  color: #FFA940 !important;
}

.text-orange-8 {
  color: #AD4E00 !important;
}

.text-orange-10 {
  color: #612500 !important;
}

.text-volcano-10 {

  color: #610B00 !important;
}