h1,
h2,
h3,
h4,
h5 {
  font-family: 'Poppins', sans-serif !important;
}

h1.banner {
  font-size: 48px !important;
}

.text-center {
  text-align: center !important;
}

.small {
  font-size: 12px !important;
}

.fw-regular {
  font-weight: 400 !important;
}

.fw-medium {
  font-weight: 500 !important;
}

.fw-semibold {
  font-weight: 600 !important;
}

.ff-poppins {
  font-family: 'Poppins', sans-serif !important;
}

.ff-inter {
  font-family: 'Inter', sans-serif !important;
}